:root {
  --primary-font: "Merienda", cursive;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #f3a521;
  --secondary-color: #402316;
  --third-color: #f8f9fa;
  --gradient-color: linear-gradient(
    45deg,
    #baaa9d 20%,
    #c8c8bc 45%,
    #c8c8bc 60%,
    #baaa9d 100%
  );
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --picture-shadow: 0px 20px 60px rgba(100, 82, 50, 0.08);
}

body {
  font-family: var(--secondary-font);
  margin: 40px auto;
  max-width: 100%;
  background: var(--third-color);
}
h1,
h2,
h3,
h4 {
  text-align: center;
  margin: 0;
  font-family: var(--primary-font);
  color: var(--secondary-color);
  line-height: 1.5;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-family: var(--secondary-font);
  font-size: 24px;
  opacity: 0.7;
  margin-top: 10px;
}
h4 {
  font-size: 32px;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}
i {
  color: var(--primary-color);
}
img {
  border-radius: 4px;
}
.img-shadow {
  box-shadow: var(--picture-shadow);
}

/* Navbar */
.my-name {
  font-family: var(--primary-font);
}
#my-first-name {
  padding: 30px;
  color: var(--primary-color);
}
#my-surname {
  color: var(--secondary-color);
}
.ml-auto {
  margin-left: auto;
}

/* Buttons, Links */
.navigation-links {
  display: flex;
  margin: 40px 0 20px;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
}
.button-link {
  border-radius: 4px;
  padding: 20px 30px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 150ms ease-in-out;
}
.main-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--third-color);
}
.secondary-link {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
a:hover,
.shevron:hover {
  color: var(--secondary-color);
}

/* Welcome section */
.welcome-section {
  background-image: var(--gradient-color);
  padding: 80px 0;
}
.welcome-section #greetings {
  margin-top: 100px;
  font-family: var(--secondary-font);
}

/* scroll gallery */
.gallery-wrap-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-wrap-container .shevron {
  font-size: 54px;
}
.gallery-wrap-container .scroll-gallery {
  display: flex;
  overflow-x: auto;
  margin: 0 auto;
  width: 80%;
  grid-gap: 30px;
}
.gallery-wrap-container .scroll-gallery::-webkit-scrollbar {
  display: none;
}

/* section Description */
.description {
  margin-top: 0;
  background-image: var(--gradient-color);
}
.description .bottom-align {
  align-items: end;
}
.description .my-photo {
  width: 120%;
}
.description h1,
.description h3,
.description p {
  text-align: right;
}
.description h1 {
  margin: 60px 0 10px;
  line-height: 1;
}
.description p span {
  font-size: 14px;
}
.description .main-link {
  margin-right: 0;
}

/* Sertificates section */
.certificates {
  margin-top: 80px;
}
.certificates h3 {
  text-align: left;
  margin-left: 60px;
  margin-top: 50px;
}
hr {
  color: var(--primary-color);
}
.certificates .scale {
  transition: 1s;
}
.certificates .scale:hover {
  transform: scale(1.2);
}
.certificates p {
  text-align: center;
  margin-top: 10px;
}

/* Project section */
.projects-section {
  margin-bottom: 80px;
}
.projects-section h1 {
  margin: 120px 0 0;
}
.project-page .projects-section .row {
  padding-top: 90px;
}
.projects-section .paragraph-title {
  margin-top: 40px;
  text-align: left;
}
.projects-section .left-column,
.projects-section .left-column h2 {
  text-align: right;
}
.projects-section p {
  text-align: justify;
}

/* Contact section */
.contact-section {
  margin-top: 120px;
}
.label-color {
  color: var(--secondary-color);
}
.text-input::placeholder {
  opacity: 0.4;
  color: var(--secondary-color);
}
.contact-section .btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.p-custom {
  padding-bottom: 80px !important;
}
.contact-link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.contact-link:hover {
  color: var(--primary-color);
}

/* footer */
footer {
  margin-top: 80px;
}
footer .contact-box {
  background: var(--gradient-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box h4 {
  text-align: left;
  line-height: 1;
}
footer .contact-box p {
  margin: 5px 0;
}
footer .copyright {
  background: var(--third-color);
  max-width: 100%;
  margin-bottom: 0;
  padding: 5px 0;
}

/* footer links */
footer .contact-link {
  font-size: 24px;
}
footer .social-links a {
  margin: 0 20px;
  background: var(--gradient-color);
  color: var(--primary-color);
  padding: 10px 16px;
  border-radius: 50%;
  font-size: 24px;
}
footer .social-links a i {
  transition: all 150ms ease-in-out;
}
footer .social-links a i:hover {
  color: var(--secondary-color);
}

.light-link {
  text-decoration: none;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  body {
    margin: 50px 10px 40px 10px;
  }
  h1 {
    text-align: center;
    font-size: 36px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  h2.paragraph-title,
  p {
    text-align: center;
  }
  .navigation-links {
    margin: 40px 0 0;
  }
  .secondary-link,
  .main-link {
    text-align: center;
    font-size: 12px;
    margin-top: 0;
  }
  .welcome-section {
    padding: 40px 0;
  }
  .welcome-section #greetings {
    margin-top: 55px;
  }

  /* scroll */
  /* .gallery-wrap-container {
    display: none;
  } */
  /* .shevron {
    display: none;
  } */

  .gallery-img {
    margin: 40px 0 0;
  }
  /* finish */

  .description .my-photo {
    width: 100%;
  }
  .description h1 {
    margin-top: 15px;
    text-align: center;
  }

  .description h3,
  .description p {
    text-align: center;
    margin-bottom: 10px;
  }
  .description p span {
    font-size: 12px;
  }
  .description .navigation-links {
    margin-top: 0;
  }
  .projects-section h1 {
    margin: 90px 0 0;
  }
  .projects-section .paragraph-title {
    margin: 0;
  }
  .projects-section #downloadCV-button {
    display: block;
    font-size: 16px;
    margin: 0 10px;
  }
  /* .launch-link {
    text-align: center;
    display: block;
    margin: 0 10px;
  } */
  .contact-section {
    margin-top: 90px;
  }
  footer {
    margin-top: 0;
  }
  footer .contact-link {
    font-size: 16px;
  }
  footer .social-links a {
    margin: 0 20px;
    padding: 10px 16px;
    font-size: 16px;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .description .my-photo {
    width: 130%;
  }
  .projects-section .paragraph-title {
    margin: 0;
  }
}

.disabled {
  color: var(--third-color);
}
