:root {
  --primary-color: #f3a521;
  --secondary-color: #402316;
  /* #f9f1e6; */
  --primary-font: "Merienda", cursive;
  --secondary-font: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Poppins", sans-serif;
  margin: 60px auto;
  max-width: 100%;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-family: var(--secondary-font);
  font-size: 24px;
  opacity: 0.7;
  margin-top: 10px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 15px;
}
a:hover {
  color: var(--secondary-color);
}
img {
  border-radius: 4px;
}

i {
  color: var(--primary-color);
}
.my-name {
  font-family: var(--primary-font);
}
.ml-auto {
  margin-left: auto;
}
#my-first-name {
  padding: 30px;
  color: var(--primary-color);
}
#my-surname {
  color: var(--secondary-color);
}

#greetings {
  margin-top: 100px;
  font-family: var(--secondary-font);
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.description {
  margin-top: 80px;
  background-image: linear-gradient(
    45deg,
    #baaa9d 20%,
    #c8c8bc 45%,
    #c8c8bc 60%,
    #baaa9d 100%
  );
}
.description h1 {
  text-align: right;
  margin-top: 60px;
}
.description h3 {
  text-align: right;
  margin-bottom: 50px;
}
.description p {
  text-align: right;
}

hr {
  color: var(--primary-color);
}

.certificates {
  margin-top: 80px;
}
.certificates p {
  text-align: center;
  margin-top: 10px;
}
.certificates h3 {
  text-align: left;
  margin-left: 60px;
  margin-top: 50px;
}
.scale {
  transition: 1s;
}
.scale:hover {
  transform: scale(1.2);
}

.projects-section {
  margin-bottom: 50px;
}
.paragraph-title {
  text-align: left;
}
.launch-link {
  padding: 20px 15px;
  border-radius: 4px;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

#contact {
  margin-top: 160px;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  body {
    margin: 50px 10px 40px 10px;
  }
  h1 {
    text-align: center;
    font-size: 70px;
  }
  h2 {
    font-size: 36px;
  }
  h2.paragraph-title,
  p {
    text-align: center;
  }
  .launch-link {
    text-align: center;
    display: block;
    margin: 0 10px;
  }
}

/* .homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
} */
